#firstChar {
    color: blue; 
    font-size: 48px;
}

.italics {
    font-style: italic;
}

.green {
    color: green;
}

#headerID {
    color: orange;
}

.headerClass {
    color: red;
    /* text-align: center; */
}

/* h1 is a block element */
h1 {
    color: green;
    border: 2px solid black;
    /* border-bottom: 3px solid black; */
    /* padding: 20px; */
    /* padding-bottom: 20px;
     */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 20px 30px; */
    padding: 10px 20px 30px;
    margin: 10px;
}

/* image is a inline element */

#logo {
    display: none;
}