.box {
    border: 1px solid black;
    padding: 20px;
    margin: 10px 5px;
}

.header {
    background-color: #55D5EE;
}

.sidebar {
    background-color: #A1C362;
}

.main {
    background-color: #F5C531;
}

.extra {
    background-color: #8B898B;
}

.footer {
    background-color: #FFA500;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
    grid-column: 1 / 5;
}

/* .sidebar {
    grid-column: 1 / 2;
} */

.main {
    grid-column: 2 / 5;
    /* height: auto; */
    /* height: 300px; */
}

.extra {
    grid-column: 2 / 5;
}

.sidebar {
    grid-row: 2 / 4;
}

.footer {
    grid-column: 1 / 5;
}

.main {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.hello {
    grid-row: 1 / 3;
}