#firstChar {
    color: blue; 
    font-size: 48px;
}

.italics {
    font-style: italic;
}

.green {
    color: green;
}

#headerID {
    color: orange;
}

.headerClass {
    color: red;
    text-align: center;
}

h1 {
    color: green;
}