/* 
    Any style that we are writing is applicable for all the devices 
*/

.slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* taget the ipad screens */
@media (min-width: 768px) {
    .slider {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* target the desktop or laptop screens */
@media (min-width: 1024px){
    .slider {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}